.wmodal.open {
  visibility: visible;
}

.wmodal {
  visibility: hidden;
}

.wmodal-overlay {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.wmodal-window {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 4px;
  background-color: white;
}

.wmodal-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.wmodal-title {
  font-size: 1.5rem;
}

.wmodal-close {
  width: 1.7rem;
  font-size: 1.5rem;
  color: whitesmoke;
  border-radius: 5px;
  background-color: rgb(253, 165, 150);
  text-align: center;
}

.wmodal-close:hover {
  background-color: tomato;
  cursor: pointer;
}

.wmodal-body {
  padding: 5px;
  border-bottom: 1px solid gray;
}

.wmodal-footer {
  padding: 4px;
  text-align: right;
}

.ml3 {
  margin-left: 4px;
}
