.wmodal {
}

.wmodal.hide {
  visibility: hidden;
}

.wmodal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.wmodal-window {
  margin-top: 100px;
  margin-inline: 20%;
  background-color: white;
}

.wmodal-header {
  background-color: rgb(188, 240, 241);
}

.wmodal-body {
  height: 50px;
}

.wmodal-footer {
  background-color: rgb(188, 240, 241);
  text-align: right;
}
